.navbar {
    display: flex;
    background-color: #157efb;
    justify-content: space-around;
}
.divPrincipalCartWidget{
    display: flex;
    justify-content: space-between;
    color: white;
}

.logoPagina img {
    width: 50px;
    height: auto;
}

.carrito img {
    width: 50px;
    height: auto;
}
.botonesNavBar{
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;

}
.botonNavBar {

    padding: 10px 20px;
    background-color: white;
    color: #157efb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botonNavBar:hover {
    transform: scale(1.05);
    padding: 10px 20px;
    background-color: white;
    color: #157efb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


